Flask>=2.0
Flask-PyMongo>=2.3
flask-jwt-extended>=4.0
pymongo>=4.0
mongomock>=4.0
python-dotenv>=1.0
pytest>=7.0
werkzeug>=2.0
PyPDF2>=3.0
requests>=2.25
Authlib>=1.2.0
Flask-CORS>=4.0
google-auth>=2.0
google-auth-oauthlib>=1.0
